{% extends 'templates/base.html' %}
{% block title %}New Topic{% endblock %}
{% load tailwind_filters %}
{% block content %}
    <section class="profile border-t border-gray-200 ">
        <div class="new-topic bg-[#e8e8e8] p-5 h-content">
            <div class="container mx-auto bg-white md:w-3/4 rounded">
                <div class="h-12 bg-red-600 font-bold rounded-t flex flex-col justify-end pl-3 mb-2">
                    <div class=" flex items-center justify-center bg-white rounded-t w-20 h-3/4"><span>Content</span></div>
                </div>
                    
                <div class="p-3">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-4 flex justify-between">
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 rounded">Submit</button>
                            <span class="text-slate-400 font-bold text-sm">Max total size: 10MB</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}