{% extends 'templates/base.html' %}
{% block title %}Members{% endblock %}
{% block content %}
    <section class="border-t border-gray-200 ">
        <div class="bg-[#e8e8e8] p-5 h-content">
            <div class="container mx-auto bg-[#e8e8e8] w-3/4 rounded mb-6 font-extrabold text-2xl">
                <h2>Forum Members</h2>
            </div>
            <div class="container w-3/4 max-sm:w-full mx-auto bg-white rounded font-extrabold text-2xl mt-6">
                <div class="h-12 bg-red-600 p-3 rounded-t flex items-center justify-start">
                    <span class="text-sm font-extrabold">{{ users.count }} total members</span>
                </div>
                <div class="flex flex-wrap bg-white gap-3 justify-center items-center p-3">
                    {% for user in users %}
                        <div class="flex gap-2 mt-2 bg-green-100 p-3 w-72 shadow-lg mb-2">             
                            <div class="w-20 flex items-center justify-center">
                                <div class="h-14 w-14 rounded-full bg-[url({{ user.profile.image.url }})] bg-no-repeat bg-center bg-cover shadow-xl"></div>
                            </div>
                            <div class="w-full flex flex-col text-sm gap-1 p-2">
                                {% if user.profile.status %}
                                <span class="font-bold text-red-400">{{ user.profile.status }}</span>
                                {% else %}
                                <span class="font-bold text-slate-500">Member</span>
                                {% endif %}
                                <span class="text-m text-slate-400">Joined in {{user.date_joined.year }}</span>
                            </div>           
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}