{% extends 'templates/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <section class="profile border-t border-gray-200 ">
        <div class="main-content bg-[#e8e8e8] p-5 min-h-screen"> 
            <div class="flex flex-col rounded justify-between container mx-auto w-full h-[300px] bg-[url(static/cover_image.jpg)] bg-cover">
                <div class="flex justify-between h-44">
                    <div class="bg-[url({{ profile.image.url }})] my-8 mx-8 relative w-36 h-36 rounded-full bg-no-repeat bg-center bg-cover shadow-xl"></div>
                    <button class="flex text-white font-bold p-3 bg-slate-400 hover:bg-slate-500 h-10 items-center w-content rounded mt-3 mr-3" 
                    hx-get="{% url 'settings' %}" hx-trigger="click" hx-target="#view_profile" hx-swap="outerHTML">Account Settings</button>
                </div>
                <div class="flex justify-end mr-10 text-4xl font-bold text-slate-400"><span>{{ user.username }}</span></div>
                <div class="bg-[#353c41] h-16 flex items-center space-x-8 px-2 pl-8 rounded-b text-gray-500 font-bold">
                    <div class=" flex flex-col">
                        <span>Posts</span>
                        <span class="text-white font-bold">0</span>
                    </div>
                    <div class=" flex flex-col">
                        <span>Joined</span>
                        <span class="text-white font-bold">{{ user.date_joined}}</span>
                    </div>
                    <div class=" flex flex-col">
                        <span>Last Visited</span>
                        <span class="text-white font-bold">{{ user.last_login }}</span>
                    </div>
                </div>
            </div>

            <div class="mt-6 mb-6" id="view_profile"                                                                                                    >
            </div>

            <div class="flex rounded container mx-auto w-full bg-[#e8e8e8] space-x-4 mt-6">
                <div class="w-1/4 h-72 bg-white rounded shadow-xl container max-sm:hidden ">
                    <div class="flex items-center justify-center h-12 bg-red-600 hover:bg-red-700 w-full text-white rounded-t font-bold"><h5>Followers</h5></div>
                    <div><span>{{ profile.followers }}</span></div>
                </div>

                <div class="flex flex-col container mx-auto space-y-4 bg-[#e8e8e8] justify-between">
                    <div class="bg-white h-[180px] rounded shadow-xl">
                        <div class="flex items-center justify-center h-12 bg-red-600 w-full text-white rounded-t font-bold"><h5>Achievements</h5></div>
                    </div>

                    <div class="bg-white h-[180px] rounded shadow-xl">
                        <div class="flex flex-row space-x-2 mb-2">
                            <div class="flex items-center justify-center h-12 bg-red-600 hover:bg-red-700 w-full text-white rounded-t font-bold"><h5>Activity</h5></div>
                            <div class="flex items-center justify-center h-12 bg-red-600 hover:bg-red-700 w-full text-white rounded-t font-bold"><h5>Content</h5></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}