{% load tailwind_filters %}
<div id="this" class="container mx-auto bg-white mt-6 w-full rounded shadow-xl space-y-1">
    <div class="h-12 bg-red-600 hover:bg-red-700 rounded-t flex items-center justify-center">
        <h3 class="font-bold">Your Profile</h3>
    </div>
    <div class="sm:px-5 lg:px-7 p-4">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <!-- {{ password_form|crispy }} -->
            <div class="flex pt-2 justify-between">
                <button type="submit" class="focus:outline-none text-white bg-green-600 hover:bg-green-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Save Changes</button>
                <button hx-get="{% url 'settings' %}" hx-trigger="click" hx-target="#this" hx-swap="outerHTML" class="focus:outline-none text-white bg-yellow-600 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Cancel</button>
            </div>
        </form>
    </div>
</div>

